/* header top css */
.header-top{
    padding: 10px 13px;
}
.phone-mail a, .social-links a {
    text-decoration: none;
    color: black;
}
.phone-mail a:nth-child(2){
    padding-right: 15px;
    border-right: 3px solid black;
}
.social-links a{
    font-size: 20px;
    padding-right: 17px;
}
.social-links a:nth-child(1){
    padding-left: 15px;
}

/* header-top a hover efekt */
.header-top a{
    transition: .1s;
}
.header-top a:hover{    
    color: rgb(33, 33, 182);
}

/* header bottom css */
.navbar{
    background-image: linear-gradient(to right, black, #414b59) ;
}
.nav-item{
    padding:7px 15px;
}
.nav-link{
    color: white;
    padding-right: 15px;
}
.nav-link:hover{
    color: white;
}
.offcanvas-body ,.offcanvas-header{
    background-color: transparent;
}

/*nav-link Hover efekt similasyonu */
.nav-link:after{
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: white;
    transition: width .3s ease-in-out;
}
.nav-link:hover:after {
    width: 100%;
}

/*active Hover efekt similasyonu */
.active:after{
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: orange;
    transition: width .3s ease-in-out;
}
.active:hover:after {
    width: 100%;
}

/*active class özellikleri */
.active{
    color: orange !important;
    border: solid #414b59 1p;
    background-color: black;
    border-radius:10px;
    padding:7px 13px !important;
}
